.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px; /* Aumenta el padding para hacer la barra más alta */
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    position: fixed;  /* Fija la barra de navegación en la parte superior */
    top: 0;  /* Posiciona la barra en la parte superior de la pantalla */
    left: 0;
    z-index: 1000;  /* Asegura que la barra esté por encima de otros elementos */
    box-sizing: border-box;  /* Asegura que el padding no afecte el tamaño total */
    height: 150px; /* Ajusta la altura del navbar */
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    align-items: center; /* Asegura que los enlaces estén alineados verticalmente */
}

.navbar-links li {
    margin: 0;
}

.navbar-links a {
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
}

.navbar-links a:hover {
    color: #4b2e83;
}

@media (max-width: 768px) {
    .navbar-links {
      display: none; /* Opcional: Oculta las opciones en móviles, si deseas implementar un menú hamburguesa */
    }
}
