.section3 {
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
    font-size: 1.5em;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-content {
    display: flex;
    flex-direction: row; /* Alinea el contenido en una fila */
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.section3-text {
    flex: 1;
    text-align: left;
}

.section3 h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.section3 p {
    font-size: 1em;
    margin-bottom: 20px;
}

.section3 form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.section3 input {
    margin-bottom: 10px;
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.section3 button {
    background-color: #4b2e83;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.section3 button:hover {
    background-color: #371f5f;
}

.section3-image {
    flex: 1;
    text-align: right; /* Alinea la imagen a la derecha */
}

.section3-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Opcional: añade un borde redondeado */
}
